.main {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 10%;
}

/*#linkedinLogo {*/
/*  */
/*}*/

#social-container {
    margin: auto;
}

#container
{
    height:20px;
    width:20px;
    padding-left: 10%;
}

#inner
{
    height:50px;
    width:50px;
    background:red;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-left:25%;
    margin-top:25%;
}
/*$grid-gutter-width: 30px !default;*/